/*DEVELOPER: Hehjun Lim, IS117-003, Fall, 2022 */
* {
    margin: auto;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}
/* style for header*/
header {
    padding: 1em 0 1em 0;
    background-color: beige;
    width: 100%;
}
header h1 {
    font-size: 5em;
    color: darkolivegreen;
    text-align: center;
    padding-bottom: 0em;
}
header h2 {
    font-size: 2em;
    color: black;
    text-align: center;
    float: none;
    margin: 0;
    padding-top: 0em;
}
/* style for the navigation bar*/
#nav_menu ul {
    font-size: 1.4em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#nav_menu ul li {
    float: left;
    width: 20%;                 /* 160 / 800 x 100 */
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0em;
    text-decoration: none;
    background-color: tan;
    color: white;
    font-weight: bold;
    width: 336px;
}
li ul {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
li ul li{
    clear: both;
}
ul li:hover ul{
    display: block;
}

/* style for article*/
main article {
    width: 60%;
    float: left;
    padding-left: 10em;
}
main article h2 {
    font-size: 2.5em;
}
main article h3 {
    font-size: 2em;
}
main article li{
    font-size: 1.5em;
}

.column {
    float: left;
    width: 50%;
    padding-left: 10%;
    padding-bottom: 8%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/* style for aside*/
aside {
    background-color: white;
    width: 25%;
    float: right;
    padding-right: 2%;             /* 20 / 800 x 100 */
    padding-left: 2%;
}
aside h2 {
    color: darkolivegreen;
    font-size: 150%;
    padding: .5em 0 .25em 0;
}

aside ul li {
    font-size: 100%;
    padding-bottom: 8em;
    color: darkolivegreen;
}

/* style for the footer*/
footer {
    background-color: beige;
    clear: both;
    padding-bottom: 5px;
    font-size: 1em;

}
footer p {
    text-align: left;
    color: black;
    padding: 0.3em 0;
    margin-left: 20px;
}
